<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ assessment.title }}</h5>
        <p class="card-text">{{ assessment.description }}</p>
        <!-- Button trigger modal -->
        <button class="btn btn-primary" (click)="open(content)">Information</button>
    </div>
</div>

<!-- Info Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ assessment.title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      {{  assessment.description }}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Principal: {{  assessment.principal }}</li>
      <li class="list-group-item">Client: {{  assessment.client }}</li>
      <li class="list-group-item">Applied: {{ assessment.applied.toMillis() | date:'medium' }}</li>
      <li class="list-group-item">Deadline: {{  assessment.deadline.toMillis() | date:'medium' }}</li>
      <li class="list-group-item">Status: {{  assessment.status }}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="open(sure)" *ngIf="assessment.status != 'Finished'">
      Finished
    </button>
    <button type="button" class="btn btn-dark" (click)="open(delete)"
            *ngIf="assessment.status == 'Finished' && userInfo.role == 'master'">Delete
    </button>
  </div>
</ng-template>


<!-- You sure Modal -->
<ng-template #sure let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Sure you are finished?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('No click')">No</button>
    <button type="button" class="btn btn-success" (click)="onFinish()">Yes</button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title3">Sure you want to delete?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('No click')">No</button>
    <button type="button" class="btn btn-success" (click)="onDelete()">Yes</button>
  </div>
</ng-template>
