<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="user">
    <a class="navbar-brand" href="/home">Assessmenty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">About Me</a>
                    <a class="dropdown-item" href="#">My Rating</a>
                    <div class="dropdown-divider"></div>
                    <button class="btn my-2 my-sm-0" type="submit" (click)="onLogOut()">Log Out</button>
                </div>
            </li>
        </ul>
    </div>
</nav>